<div class="follow-stocks-prompt">
  <div class="col col-sm-offset-2 col-sm-8">
    <div class="text-center">
      <h1><p> You are currently not following any stocks </p></h1>
      <h2><p> Click on the button below to view a list of stocks</p></h2>
      <p><%= link_to "Stocks", stocks_path, class: "btn btn-primary" %><p>
    </div>
  </div>
</div>