<div>
  <div class="side-nav container">
    <div class="row">
      <div class="profile-pic"></div>
      <p><%= current_user.name %></p>
      <%= link_to('', destroy_user_session_path, :method => :delete, class: "glyphicon glyphicon-log-out") %>
    </div>
    <h2>Followed Items</h2>
    <ul>
    <% current_user.list.items.each do |item| %>
      <li class="row">
        <p><%= item.name %></p>
      </li>
    <% end %>
    </ul>
  </div>

  <div class="dashboard">
    <div class="graph-holder">graph goes here</div>
  </div>
</div>