<div>
  <%= render "layouts/nav" %>

  <div class="dashboard"m>
    <div id="orders_chart" style="width: 560px; height: 300px;"></div>

    <table class="pretty">
      <!-- Orders table code here -->
    </table>
    <script type="text/javascript" charset="utf-8">
    $(function () {
      new Highcharts.Chart({
        chart: { renderTo: 'orders_chart' },
    title: { text: 'Stock Trends' },
    xAxis: { type: 'datetime' },
    yAxis: {
      title: { text: 'Stock Price'}
    },
    series: [{
      data: [1, 7, 5, 7, 3]
    }]
      });
    });
    </script>
  </div>v
</div>
