<div>
  <div class="side-nav container">
    <div class="row">
      <div class="profile-pic"></div>
      <p><%= current_user.name %></p>
    </div>
    <h2>Followed Items</h2>
    <ul>
      <li class="row">
        <p>Item 1</p>
      </li>
    </ul>
  </div>

  <div class="dashboard">
    <div class="graph-holder">graph goes here</div>
  </div>
</div>