<div class="container">
  <div class="side-nav"></div>

  <header>
    <div class="profile-pic"></div>
  </header>

  <div class="dashboard">
    <div class="graph-holder">graph goes here</div>
  </div>
</div>