<%= form_for [@forum_thread, @forum_post] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, placeholder: "Reply...", rows: 10, class: "form-control form_post_field" %>
    <span>This text field supports Markdown formatting.</span>
  </div>

  <div class="form-group">
    <%= f.submit "Post Reply", class: "btn btn-primary pull-right" %>
  </div>
<% end %>