/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: #EDEFF0;
}

p {
  color: #686363;
}

.container {
  width: 100%;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}


/* Forum */


.forum_post {
  border-top: 1px solid #ccc;
  padding: 8px 0px;

  ul {
    padding-left: 15px;
  }
  &:target {
    background-color: rgb(248, 238, 199);
    padding: 8px;
  }
}

.text-danger{
  color: #C9302C !important;
}

#threads .btn {
  margin-left: 10px ;
}

#forum_post_body{

  &:target {
    background-color: rgb(248, 238, 199);
  }

  &:focus {
    background-color: #fff;
  }
}

.btn.new-thread, .search-thread {
  margin-top: 40px;
  margin-right: 10px;
}

.page-header {
  border-bottom: 1px solid black;
}

#threads {
  background: white;
  padding: 0.5rem 2%;
  border-radius: .5em;
  .thread {
    margin: 0.5em 0;
    padding: 0.5em 0;
    border-bottom: 1px solid #D1d1d1;
    .title {
      margin: 0;
      font-size: 1.7rem;
       a {
        color: #397CAC;
        text-decoration: none;
        font-weight: 400;
      }
    }
    .date {
      margin-top: .5rem;
      font-size: 1rem;
      color: #B2BAC2;
    }
  }
}

.thread_list{
  padding-top: 8px;
}

.replies {
    float: left;
    margin: 2px 15px 0 -5px;
    background: none repeat scroll 0% 0% #CADCEB;
    padding: 12px;
    width: 50px;

    a {
      text-decoration: none;
    }
    p{
      margin: 0;
      padding: 0;
      font-size: 10px;
      color: #3982BC;
      text-align: center;
    }
}

.thread_list > .title .btn.btn-default.pull-right {
  border-radius: 0px;
}




