// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_message_form input[type="text"] {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 16.6667%;
  padding: 5px;
  font-size: 1.5rem;
}

.nav-tab-holder {
  position: fixed;
  background: rgba(221, 221, 221, 0.9);
  top: 0;
  right: 0;
  width: 16.6667%;
  border-bottom: 1px solid #D0D0D0;

  h4 {
    margin: 0;
  }
}

#chat_room {
  margin-bottom: 50px;

  p {
    background: #E1EBF2 !important;
    padding: 5px;
    border-radius: 3px;
  }
}