// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-pic {
  float: left;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.dashboard {
  padding-left: 16.666667%;
  background: #3C3C3C;
}

.middle.col {
  padding: 0;
}

.side-nav.container {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 90px;
  background: #2D2D2D;
  height: 100%;
  width: 16.6666666667%;
  box-shadow: 0 0 3px #000;
  z-index: 101;
  overflow: scroll;

  > .row:first-child {
    position: fixed;
    top: 0;
    width: inherit;
    background: rgb(36, 35, 35);
    padding: 10px 0;
    box-shadow: -1px 0 3px #000;
    z-index: 102;

    .pipe {
      color: #E5E5E5;
    }
  }

  #stock-list, #favorite-stocks {
    li {
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      /* background-color: #282828; */
      /* border-top: 1px solid #2D2D2D; */

      .remove-stock {
        display: none;
        background: none;
        border: none;
        color: red;
        font-size: 1em;
      }
    }

    li:hover .remove-stock {
      display: block;
    }

    li.ui-sortable-helper {
      border-bottom: 1px solid #2D2D2D;
    }
  }

  #favorite-stocks {
    min-height: 20px;
    background-color: #282828;

    li {
      background-color: #282828;
      border-top: 1px solid #2D2D2D;
    }
  }

  h3 {
    color: #7F7F7F;
    margin-top: 0;
  }

  .glyphicon-star {
    color: yellow;
  }
}

.twitter {
  overflow-y: scroll;
}

.follow-stocks-prompt {
  margin-top: 300px;
}

.orders-chart {
  height: 500px;
  border-bottom: 1px solid #aaa;
}

.progress, .sentiment-table {
  margin-bottom: 0 !important;
}

.follow-button {
  float: right;
}

.result-dropdown {
  max-height: 300px;
  overflow-y: scroll;
  position: absolute;
  width: 90%;
  z-index: 101;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 3px;
  box-shadow: 0 0 3px #000;

  ul {
    margin: 0;
  }

  li {
    padding: 10px;
  }

  li:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.table {
  table-layout: fixed;
}
