.feed {
  /*padding: 5px !important;*/
  position: fixed;
  top: 0;
  right: 0;
  width: 16.6667%;
  padding: 100px 10px 30px;
  height: 100%;
  background: #E5E5E5;
  overflow: scroll;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

  .tab-content li {
    border-bottom: 1px solid #aaa;
    padding: 10px;
  }
}