.forum_post {
  background: #E1EBF2;
  line-height: 1.5em;
  padding: 5px 5px 10px 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  .forum_post_user {
    border-left: 1px solid white;
  }
  p {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
  }
  img {
    margin-bottom: 3px;
  }
  ul {
    padding-left: 15px;
  }
  &:target {
    background-color: rgb(248, 238, 199);
    padding: 8px;
  }
}

.text-danger{
  color: #C9302C !important;
}

#threads .btn {
  margin-left: 10px ;
}

#forum_post_body{

  &:target {
    background-color: rgb(248, 238, 199);
  }

  &:focus {
    background-color: #fff;
  }
}

.btn.new-thread, .search-thread {
  margin-top: 40px;
  margin-right: 10px;
}

.page-header {
  border-bottom: 1px solid black;
}

#threads {
  background: white;
  padding: 0.5rem 2%;
  border-radius: .5em;
  .thread {
    margin: 0.5em 0;
    padding: 0.5em 1em;
    border: 1px solid #D1d1d1;
    .title {
      margin: 0;
      font-size: 1.7rem;
       a {
        color: #397CAC;
        text-decoration: none;
        font-weight: 400;
      }
    }
    .date {
      margin-top: .5rem;
      font-size: 1rem;
      color: #B2BAC2;
    }
  }
}

.thread_list{
  padding-top: 8px;
}

.replies {
    float: left;
    margin: 2px 15px 0 -5px;
    background: none repeat scroll 0% 0% #CADCEB;
    padding: 12px;
    width: 50px;

    a {
      text-decoration: none;
    }
    p{
      margin: 0;
      padding: 0;
      font-size: 10px;
      color: #3982BC;
      text-align: center;
    }
}

.thread_list > .title .btn.btn-default.pull-right {
  border-radius: 0px;
}

.thread_show {
  background: #E1EBF2;
  line-height: 1.5em;
  padding: 15px;
  border-radius: 5px;
  .thread_title {
    border-bottom: 1px dashed #68636B;
    margin-bottom: 10px;
    p {
      font-size: 0.8em;
    }
  }
  h1 {
    margin-bottom: 0px;
    margin-top: 0;
    padding-bottom: 5px;
  }
}



/* form_post form */

form {
    span:before {
      content: "";
      border-style: solid;
      border-width: 0 15px 15px 15px;
      border-color:  transparent transparent rgba(0,102,255,.5) transparent;
      height: 0;
      position: absolute;
      top: -17px;
      width: 0;
    }

    span {
      background-color: rgba(0,102,255,.15);
      border: 2px solid rgba(0,102,255,.5);
      border-radius: 10px;
      color: #000;
      display: none;
      padding: 10px;
      position: relative;
    }

    .form_post_field {
      display: block
    }

    .form_post_field:hover + span {
      display: inline-block;
      margin: 10px 0 0 45rem;
    }
}

