<% provide(:title, "Forum") %>
<div class="col-sm-offset-2 col-sm-10" >
  <div class="pull-right">
    <%= link_to "New Thread", new_forum_thread_path, class: "btn btn-success new-thread" %>
  </div>
  <div class="pull-right search-thread">
    <%= search_form_for @q, html: {class: "form-inline"} do |f| %>
      <%= f.search_field :subject_or_forum_posts_body_cont, placeholder: "Search...", class: "form-control" %>
    <% end %>
  </div>
  <h1 class="page-header">Forum Threads</h1>
  <div id="threads">
    <%= render @forum_threads %>
  </div>
</div>

