<div class="side-nav container">
  <div class="row">
    <div class="col col-sm-4">
      <%= image_tag current_user.image, class: "profile-pic" %>
    </div>
    <div>
      <div><%= link_to current_user.name, current_user %></div>
      <%= link_to('', destroy_user_session_path, :method => :delete, class: "glyphicon glyphicon-log-out") %>
      <%= link_to('', edit_user_path(current_user), class: "glyphicon glyphicon-user") %>
    </div>
  </div>
  <h2>Followed Items</h2>
  <ul>
  
  </ul>
</div>