<html>
  <head>
    <title>Stock Overflow</title>
    <%= stylesheet_link_tag 'bootstrap-social', 'devise', media: 'all' %>
    <link rel="stylesheet" type="text/css" href="bootstrap-social.css">

  </head>
  <body>
    <%= yield %>
  </body>
</html>