<html>
  <head>
    <title><%=full_title(yield(:title))%></title>
    <%= stylesheet_link_tag 'bootstrap-social', 'devise', media: 'all' %>
    <link rel="stylesheet" type="text/css" href="bootstrap-social.css">

  </head>
  <body>
    <div class="big-bg"></div>
    <div class="overlay"></div>
    <%= yield %>
  </body>
</html>